/**
 * @Description: 分页
 * @Author 卞鹏飞 <228443632@qq.com>
 * @create 29/07/25 PM5:01
 */

// FIXME: pagination
div.tableWrapper {
  display: contents;
  table {
    display: contents;

    tr {
      width: 100%;
      max-width: 100%;
      display: inline-grid;
      th,
      td {
        grid-column: auto / span 1;
      }
    }
  }

  .table-wrapper-tbody {
    display: contents;
  }

  .table-row-group {
    //display: table-row-group;
    display: block;
    &:last-child {
      tr {
        //&:after {
        //  background-position:
        //    0 0,
        //    0 calc(100%),
        //    0 0;
        //}
      }
    }
  }

  .table-row-tbody {
  }

  table {
    --cell-border: 1px solid var(--umo-content-table-border-color);
    --cell-border-color: var(--umo-content-table-border-color);
    tbody {
      //display: table;
      //display: contents;
    }
    tr {
      border-bottom: var(--cell-border);
      position: relative;
      margin-bottom: -1px;
      grid-template-columns: repeat(var(--cell-count), 1fr);
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        pointer-events: none;
        background-image: linear-gradient(
            to right,
            var(--cell-border-color),
            var(--cell-border-color)
          ),
          linear-gradient(
            to right,
            var(--cell-border-color),
            var(--cell-border-color)
          ),
          linear-gradient(to right, transparent, transparent);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size:
          100% 1px,
          100% 1px,
          100% 100%;
        background-position:
          0 0,
          0 calc(100% + 1px),
          0 0;
      }
      td,
      th {
        // grid-column: auto / span 1;
        border-left: var(--cell-border);
        border-right: var(--cell-border);

        &:not(:first-child) {
          border-left: none;
        }
      }
    }
  }
}
