/**
 * @Description:
 * @Author 卞鹏飞 <228443632@qq.com>
 * @create 09/10/25 PM5:07
 */
@import '@/style/vars.less';

.e-drager-top__handle {
  white-space: nowrap;
  transform: translate3d(-2px, calc(var(--y) + -100% - 8px), 0);
  background: #e5e5e5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  height: 28px;
  padding: 0 8px;
  border-radius: 2px;
  color: #666;
  font-size: 12px;
  gap: 12px;
  z-index: 1;
  //& > span:first-child {
  //  position: relative;
  //  &::before {
  //    content: '';
  //    position: absolute;
  //    top: 50%;
  //    transform: translateY(-50%);
  //    right: -7px;
  //    width: 1px;
  //    height: 10px;
  //    background: #bbb;
  //  }
  //}
}
.e-drager-top__tag {
  position: absolute;
  left: -2px;
  top: 0;
  font-size: 13px;
  transform: translate3d(0, -100%, 0);
  padding: 2px 8px;
  //background: rgba(@primary-color, 0.9);
  background: @primary-color;
  color: #fff;
  pointer-events: none;
}
.e-drager-top__tag-kwds {

}

.e-drager-wrap {
  &.is-keywords {
    //@primary-color: @warning-color;
    --umo-primary-color: @primary-color;
    :deep {
      //.e-drager-top__tag {
      //  background: @primary-color;
      //}
      //.line-wrap__locate {
      //  background: @primary-color;
      //}
      //
      //.es-drager.es-drager.inline-wrap--active,
      //.es-drager.line-wrap--in-rect {
      //  outline: 2px solid var(--umo-primary-color);
      //  box-shadow: 0 0 10px rgba(@primary-color, 0.6);
      //}
      //
      //.es-drager.line-wrap--inactive.line-wrap--inactive {
      //  outline: 1px dashed @primary-color;
      //  background-color: rgba(@primary-color, 0.04);
      //}
      //.line-wrap--in-rect,
      //.inline-wrap--active {
      //  .line-wrap__locate {
      //    color: @error-color;
      //  }
      //}
    }
  }
}

.is-keywords  {

}
